footer.home {
  background: none;
  position: absolute;
  top: 90%;
  left: 40%;
  z-index: 9999;

  a {
    margin-right: em(20);
    border: none;
  }

  i {
    color: $dark-gray; 
    font-size: $base-font-size * 1.3;
    padding: .6em;
    border-radius: 50%;
    transition-property: border-color;
    transition-duration: 2s;
    border: 2px solid $light-green;
    &:hover {
      transition-property: color, border-color;
      transition-duration: .5s;
      color: lighten($base-accent-color, 15);
      border: 2px solid lighten($light-green, 15); 
    }
  }

  i.fa-facebook {
    padding-left: .8em;
    padding-right: .8em;
  }

  i.fa-twitter {
    padding-left: .7em;
    padding-right: .7em;
  }
}
