section.home {
  display: block;
  background: url(/images/background.jpg) no-repeat center center;
  opacity: 0.8;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1
}


div.hero {
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  position: absolute;
  background: rgba(84,86,102,0.5);
  padding: 2em 3em;
  border-radius: 5px;
  top: 35%;

  h1 {
    font-size: $base-font-size * 3;
    color: white;
  }
}



