.home {
  display: block;
  background: url(/images/background.jpg) no-repeat center center;
  opacity: 0.8;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1
}


div.hero {
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  position: absolute;
  background: rgba(84,86,102,0.5);
  padding: 2em 3em;
  border-radius: 5px;
  top: 35%;

  h1 {
    font-size: $base-font-size * 3;
    color: white;
  }
}

div.cta {
  @include outer-container;
  @include span-columns(8);
  @include shift(5);
  position: absolute;
  top: 85%;

  p {
    font-size: $base-font-size * 1.6;
    font-weight: 600;
  }
}

.news {
    @include outer-container;
    padding-top: em(20);

  .more-news {
    text-align: right;
    margin-top: em(20);
  }
}

.info {
  @include outer-container;
  @include span-columns(6);
  @include shift(1);


  .box {
    @include span-columns(3 of 6);
    @include omega(2n);
    margin-bottom: em(40);
  }

  h2 {
    text-align: center;
    margin-bottom: em(15);
    font-size: $base-font-size * 1.6;
  }


  p {
    text-align: center;
  }
}


