section {
  padding-top: em(70);
  @include media($large-screen) {
  @include outer-container;
  padding-top: em(140);
  margin-bottom: em(80);
  }
}

article {
  margin-left: em(20);
  margin-right: em(10);
  @include media($large-screen) {
    @include outer-container;
  }
}

header {
  margin-bottom: em(40);
}

// links
a {
  color: $dark-gray;
  
  &:hover {
    color: $dark-gray;
  }

  &.underline {
    padding-bottom: 2px;
    border-bottom: 2px solid $base-accent-color;
  }
}

// titles
h1 {
  color: $dark-gray;
  text-align: center;
}

// icons

i {
  color: $light-green;
  margin-right: em(10);
  &.large
  {
    font-size: 2em;
    @include media($large-screen) {
      font-size: 3em;
      margin-right: 0;
    }
  }
}

.intro {
  margin-bottom: em(60);
  @include media($large-screen) {
  margin-bottom: em(100);
  }
  h1 {
    margin-bottom: em(20);
  }
  p {
    @include media($large-screen) {
      font-size: $base-font-size * 1.3;
    }
  }

  header {
    margin-bottom: em(20);
    margin-left: em(20);
    margin-right: em(10);
  }
}

// text

p.date {
  text-transform: uppercase;
  font-size: $base-font-size * .8;
  letter-spacing: 2px;
}

p.read-more {
  font-weight: 600;
}

// lists

li {
  margin-top: em(10);
  margin-bottom: em(10);
}
