nav#home-menu {
  margin-top: em(20);
  margin-right: em(100);
  float: right;
  position: absolute;
  z-index: 9999;
  right: 50px;

  li {
    float: left;
    margin-right: em(40);

    &.active {
      padding-bottom: 2px;
      border-bottom: 3px solid $light-green; 
    }
  }

  a {
    font-weight: 600;
    color: $dark-gray;
  }
}


nav#menu {
  margin-top: em(20);
  margin-right: em(100);
  float: right;
  position: absolute;
  z-index: 9999;
  right: 50px;

  li {
    float: left;
    margin-right: em(40);

    &.active {
      padding-bottom: 2px;
      border-bottom: 3px solid $light-green; 
    }
  }

  a {
    font-weight: 600;
    color: $dark-gray;
  }
}


