section.news {

  .intro {
    margin-top: em(100);
  }

  article.news-item {

    @include span-columns(9 of 9);

    margin-top: em(40);


    header {
      margin-bottom: em(20);
    }


    i {
      margin-right: em(5);
    }
    
    h1 {
      color: $dark-gray;
      font-size: $base-font-size * 1.3;
      text-align: left;
      margin-bottom: em(5);
    }

    .content {
      @include span-columns(6 of 9);
      padding-left: 1em;
    }

    aside {
      @include span-columns(3 of 9);
      float: left;
      margin-right: em(20);
    }
  }

  .twitter {
    @include span-columns(3);
    padding-left: em(10);

    h2 {
      text-align: center;
      padding-bottom: 28px;
      border-bottom: 1px solid #DDD;
      font-size: $base-font-size;
    }

    img {
      float: left;
      margin-right: em(10);
    }

    p {
      font-size: $base-font-size * .8;
    }
  }

  .tweet {
    margin-top: em(10);
    padding-top: em(10);
    margin-bottom: em(20);
  }
}




