article.news-article {
  padding-top: em(140);
  padding-bottom: em(60);

  header {
    h1 {
      color: $dark-gray;
      text-align: left;
    }
  }
  .content {
    @include span-columns(6);
  }

  .extra {
    margin-top: em(60);

    li {
      line-height: 2em;
    }
    
    a {
      font-weight: 600;
    }

    i {
      margin-right: em(10);
    }
  }

  aside {
    @include span-columns(5);
    @include shift(1);
  }

  .breadcrumb {
   @include span-columns(12);
  }
}

