section.stakeholders {
  @include span-columns(8);
  @include shift(2);

  header {
    margin-top: em(20);
    padding-top: em(10);
    padding-bottom: em(10);
  }

  .boxes {
    padding-top: em(40);
  }

  .box {
    @include span-columns(3 of 6);
    @include omega(2n);
    margin-bottom: em(80);
    margin-right: em(40);

    a {
      &:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid $light-green;
      }
    }
  }

  h2 {
    text-align: center;
    margin-bottom: em(15);
    font-size: $base-font-size * 1.6;
  }

  
  p {
    text-align: center;
  }

  ul {
    @extend %default-ul;
  }

  li {
    margin-top: em(20);
    margin-bottom: em(20);
  }

}
