<nav id="menu">
  <ul>
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="news"><a href="#news">Nieuws</a></li>
    <li data-menuanchor="info"><a href="#info">Project</a></li>
    <li><a href="#">Publicaties</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
