<nav>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Nieuws</a></li>
    <li><a href="#">Publicaties</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
