<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="index#news">Nieuws</a></li>
    <li class="active"><a href="#">Team</a></li>
    <li><a href="index#info">Project</a></li>
    <li><a href="#">Output</a></li>
  </ul>
</nav>
<section class="admin-item">
  <div class="breadcrumb">
    <a href="/admin.html">Beheer</a>
    <a href="javascript:void(0)">Nieuws</a>
  </div>
  <header>
    <h1><i class="fa fa-newspaper-o"></i>Beheer Niews</h1>
  </header>
  <form action="/admin-add.html" method="get">
    <button>Toevoegen</button>
  </form>
  <table class="tables">
    <tbody>
      <tr>
        <td><a href="#">De Mazen van het (Inter)net</a></td>
        <td><button>Aanpassen</button><button>Verwijderen</button></td>
      </tr>
      <tr>
        <td><a href="#">Ello, social netwerken zonder reclame</a></td>
        <td><button>Aanpassen</button><button>Verwijderen</button></td>
      </tr>
      <tr>
        <td><a href="#">Product placement heruitgevonden?</a></td>
        <td><button>Aanpassen</button><button>Verwijderen</button></td>
      </tr>
    </tbody>
  </table>
</section>
