<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li class="active"><a href="/team.html">Team</a></li>
    <li><a href="/project.html">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<article class="researcher">
  <aside>
    <img src="images/eva-lievens.jpg" />
  </aside>
  <header>
    <h1>Eva Lievens</h1>
    <p><strong>Promotor</strong></p>
  </header>
  <div class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:eva.lievens@law.kuleuven.be">eva.lievens@law.kuleuven.be</a><br />
    <i class="fa fa-phone"></i><a href="tel:016320770">01 632 07 70</a><br />
    <i class="fa fa-map-marker"></i><strong>KU Leuven</strong><br />
    Faculteit rechtsgeleerdheid<br />
    Sint-Michielsstraat 6 - box 3443, 3000 Leuven 
    </p>
  </div>
  <div class="affiliation">
    <h2>Affiliatie</h2>
    <p><i class="fa fa-link"></i><a href="https://www.law.kuleuven.be/icri/en">Interdisciplinary Centre for Law and ICT</a></p>
  </div>
</article>

<%= partial 'partials/footer-regular' %> 

