---
title: Adlit 
description: Een onderzoeksproject rond reclamevrijheid
stylesheet: jquery.fullPage
---

<nav id="home-menu">
  <ul>
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="news"><a href="#news">Nieuws</a></li>
    <li data-menuanchor="info"><a href="#info">Project</a></li>
    <li><a href="#">Publicaties</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<div id="fullpage">
<div class="section home">
  <div class="hero">
    <h1>AdLit, een onderzoeksproject rond reclamewijsheid bij minderjarigen</h1>
  </div>
  <div class="cta">
    <p><a href="#info">Over het onderzoeksproject</a></p>
  </div>
</div>
<div class="section news">
  <div class="grid-items">
  <a href="javascript:void(0)" class="grid-item">
    <img src="images/logo-digital-kids-marketing.png" alt="digital kids marketing">
    <h1>Digital Kids Marketing</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
    <img src="images/lady-gaga.jpg" alt="lady gaga">
    <h1>product placement heruitgevonden?</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
    <img src="images/ello.jpg" alt="mediaraven">
    <h1>ello, sociaal netwerken zonder reclame</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="images/emsoc-conference.jpg" alt="">
    <h1>Emsoc Slotconferentie</h1>
  </a>
</div>
</div>
<div class="section info">
  <div class="boxes">
  <div class="box">
    <p><i class="fa fa-users"></i></p>
    <h2>Wie zijn we</h2>
    <p>Non-profit an public affairs organizations need to communicate their message with a loud and clear voice</p>
  </div>
  <div class="box">
    <p><i class="fa fa-suitcase"></i></p>
    <h2>Wat doen we?</h2>
    <p>You’ll be hard-pressed to find a team more experienced building brands and websites for Democratic political campaigns. We’re design trend-setters and know political tech inside and out.</p>
  </div>
  <div class="box">
    <p><i class="fa fa-newspaper-o"></i></p>
    <h2>Rapporten en Publicaties</h2>
    <p>We partner with agencies all the time to expand their services for their own clients. We fit in seamlessly. We can also do the same with your startup to get your big idea from “dream” to “reality”.</p>
  </div>
  <div class="box">
    <p><i class="fa fa-university"></i></p>
    <h2>Valorizatie tools</h2>
    <p>We can leverage our extensive experience in design, tech and brand strategy to promote your idea or product. Whether it’s a campaign, an org or you’re just selling a widget, the goal of our services is always the same: to inspire.</p>
  </div>
</div>
<footer class="home">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
</footer>
</div>
</div>

<script>
 $(document).ready(function() {
   $('#fullpage').fullpage(
    {
    anchors: ['home', 'news', 'info'],
    menu: '#home-menu' 
    }
   );
}); 
</script>
