---
title: Adlit 
description: Een onderzoeksproject rond reclamevrijheid
---
<section class="home">
  <div class="hero">
    <h1>Adlit, Een onderzoeksproject rond reclamewijsheid bij minderjarigen</h1>
  </div>
</section>
