<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li class="active"><a href="/team.html">Team</a></li>
    <li><a href="/project.html">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<article class="researcher">
  <aside>
    <img src="images/martin-valcke.jpg" />
  </aside>
  <header>
    <h1>Martin Valcke</h1>
    <p><strong>Promotor</strong></p>
  </header>
  <div class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:martin.valcke@UGent.be">martin.valcke@UGent.be</a><br />
    <i class="fa fa-phone"></i><a href="tel:092648675">09 264 86 75</a><br />
    <i class="fa fa-map-marker"></i><strong>Universiteit Gent</strong><br />
    Vakgroep onderwijskunde<br />
    Henri Dunantlaan 2, 9000 Gent 
    </p>
  </div>
  <div class="affiliation">
    <h2>Affiliatie</h2>
    <p><i class="fa fa-link"></i><a href="http://www.onderwijskunde.ugent.be">Vakgroep Onderwijskunde</a></p>
  </div>
</article>

<%= partial 'partials/footer-regular' %> 

