<article class="news-article">
  <div class="breadcrumb">
    <a href="/news.html">Nieuws</a>
    <a href="javascript:void(0)">De Mazen van het (Inter)Net</a>
  </div>
  <header>
    <h1>De Mazen van het (Inter)Net</h1>
    <p class="date"><time datetime="2014-11-12 15:52">12 November 2014</time></p>
  </header>
  <aside>
    <img src="/images/kind-blauw-400x217.jpg" alt="de mazen van het internet" />
  </aside>
  <div class="content">
      <p>Hoe veilig gedragen we ons op het web? En zijn we ons bewust van de risico’s die we lopen? volt ging op zoek naar het antwoord. Het resultaat is een reeks interessante reportages waarin Kobe zich waagt aan een verbluffende opeenvolging van experimenten.</p>
      <p>Thema’s zoals de veiligheid van gratis wifi, privacy op sociale media en de bescherming van je persoonlijke gegevens komen aan bod. Interessant om even bij stil te staan, want in onze huidige mediamaatschappij neemt het internet een steeds prominentere rol in.</p>
      <p>Een van de experts in het programma vat het mooi samen: “Het internet is fantastisch, het is een bron aan informatie en maakt het leven een heel stuk makkelijker. Maar je moet ermee leren omgaan. Zoals we kinderen leren hoe ze een straat moeten oversteken, zo moet iedereen veilig leren surfen”.</p>
      <p>Bekijk hier verschillende fragmenten uit de één reeks volt.</p>
    <ul class="extra">
      <li><i class="fa fa-download"></i><a href="#" class="underline">download video</a></li>
      <li><i class="fa fa-link"></i><a href="#" class="underline">www.interessante-website.be</a></li>
    </ul>
  </div>
</article>
<%= partial 'partials/footer-regular' %>
