<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="active"><a href="index.html#news">Nieuws</a></li>
    <li><a href="/team.html">Team</a></li>
    <li><a href="/index.html#info">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<section class="news">
  <div class="intro">
    <header>
      <h1>AdLit Nieuws</h1>
    </header>
  </div>
<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Nieuws</a>
    <div class="tab-content">
      <article class="news-item">
        <aside>
          <img src="/images/kind-blauw-282x153.jpg" alt="de mazen van het internet" />
        </aside>
        <div class="content">
          <header>
            <h1>De Mazen van het (Inter)Net</h1>
            <p class="date"><time datetime="2014-11-12 15:52">12 November 2014</time></p>
          </header>
          <p class="summary">Hoe veilig gedragen we ons op het web? En zijn we ons bewust van de risico’s die we lopen? Volt ging op zoek naar het antwoord.</p>
          <p class="read-more"><a href="/news-article.html" class="underline">Lees Meer</a></p>
        </div>
      </article>
      <article class="news-item">
        <aside>
          <img src="/images/ello-282x94.jpg" alt="ello" />
        </aside>
        <div class="content">
          <header>
            <h1>Ello, social netwerken zonder reclame</h1>
            <p class="date"><time datetime="2014-11-12 15:52">16 oktober 2014</time></p>
          </header>
          <p class="summary">
          Er heerst heel wat buzz op het Internet.. There is a new player in social media! Ello is de naam, een sociaal netwerk dat zich profileert als de reclamevrije tegenhanger van Facebook
          </p>
          <p class="read-more"><a href="#" class="underline">Lees Meer</a></p>
        </div>
      </article>
      <article class="news-item">
        <aside>
          <img src="/images/lady-gaga.jpg" alt="lady gaga" />
        </aside>
        <div class="content">
          <header>
            <h1>Product placement heruitgevonden?</h1>
            <p class="date"><time datetime="2014-11-12 15:52">16 Oktober 2014</time></p>
          </header>
          <p class="summary">De muziekgigant Universal Music Group heeft bekend gemaakt dat ze voortaan, met behulp van technologie van het Britse bedrijf Mirriad, nieuwe reclame in reeds bestaande videoclips kan smokkelen</p>
          <p class="read-more"><a href="#" class="underline">Lees Meer</a></p>
        </div>
      </article>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Events</a>
    <div class="tab-content">
      <article class="news-item">
        <aside>
          <img src="/images/logo-digital-kids-marketing.png" alt="logo digital kids marketing" />
        </aside>
        <div class="content">
          <header>
            <h1>Digital Kids Marketing</h1>
            <p class="date"><i class="fa fa-calendar"></i>van <time datetime="2014-11-12 15:52">12 November </time> tot <time datetime="2014-11-12 15:52">14 November 2014
            <br />
            <i class="fa fa-map-marker"></i> ICC Ghent
            </p>
          </header>
          <p class="summary">
            Op donderdag 6 november vond het Digital Kids Marketing Congres plaats, georganiseerd door het digitale marketingbureau Dreammachine Kids.
          </p>
          <p class="read-more"><a href="#" class="underline">Lees Meer</a></p>
        </div>
      </article>
      <article class="news-item">
        <aside>
          <img src="/images/ello-282x94.jpg" alt="ello" />
        </aside>
        <div class="content">
          <header>
            <h1>Ello, social netwerken zonder reclame</h1>
            <p class="date"><time datetime="2014-11-12 15:52">12 November 2014</time>
            <br />
            <i class="fa fa-map-marker"></i> ICC Ghent
            </p>
          </header>
          <p class="summary">
            Op donderdag 6 november vond het Digital Kids Marketing Congres plaats, georganiseerd door het digitale marketingbureau Dreammachine Kids.
          </p>
          <p class="read-more"><a href="#" class="underline">Lees Meer</a></p>
        </div>
      </article>
      <article class="news-item">
        <aside>
          <img src="/images/lady-gaga.jpg" alt="lady gaga" />
        </aside>
        <div class="content">
          <header>
            <h1>Product placement heruitgevonden?</h1>
            <p class="date"><time datetime="2014-11-12 15:52">12 November 2014</time>
            <br /><i class="fa fa-map-marker"></i> ICC Ghent
            </p>

          </header>
          <p class="summary">
            Op donderdag 6 november vond het Digital Kids Marketing Congres plaats, georganiseerd door het digitale marketingbureau Dreammachine Kids.
          </p>
          <p class="read-more"><a href="#" class="underline">Lees Meer</a></p>
        </div>
      </article>
    </div>
  </li>
</ul>
<div class="twitter">
  <h2>Tweets</h2>
  <div class="tweet">
    <img src="/images/margaret_tuite.jpg" alt="margaret tuite" />
    <p>Margaret Tuite<br />@MargaretTuite1</p>
    <p>@Europarl_EN #childrights European Parliament adopts comprehensive  resolution 27.11.2014 on the rights of the child <a href="#">http://www.europarl.europa.eu ...</a></p>
  </div>
  <div class="tweet">
    <img src="/images/margaret_tuite.jpg" alt="margaret tuite" />
    <p>Margaret Tuite<br />@MargaretTuite1</p>
    <p>@Europarl_EN #childrights European Parliament adopts comprehensive  resolution 27.11.2014 on the rights of the child <a href="#">http://www.europarl.europa.eu ...</a></p>
  </div>
  <div class="tweet">
    <img src="/images/margaret_tuite.jpg" alt="margaret tuite" />
    <p>Margaret Tuite<br />@MargaretTuite1</p>
    <p>@Europarl_EN #childrights European Parliament adopts comprehensive  resolution 27.11.2014 on the rights of the child <a href="#">http://www.europarl.europa.eu ...</a></p>
  </div>
  <div class="tweet">
    <img src="/images/margaret_tuite.jpg" alt="margaret tuite" />
    <p>Margaret Tuite<br />@MargaretTuite1</p>
    <p>@Europarl_EN #childrights European Parliament adopts comprehensive  resolution 27.11.2014 on the rights of the child <a href="#">http://www.europarl.europa.eu ...</a></p>
  </div>
</div>
</section>
<%= partial 'partials/footer-regular' %>
<script>
  $(document).ready(function () {
    $('.accordion-tabs-minimal').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });

    $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
      if (!$(this).hasClass('is-active')) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs-minimal')
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        accordionTabs.find('.is-active').removeClass('is-active');
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });
  });
</script>
