<nav id="menu">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/index.html#news">NIEUWS</a></li>
    <li><a href="/team.html">TEAM</a></li>
    <li><a href="/project.html">PROJECT</a></li>
    <li class="active"><a href="#">OUTPUT</a></li>
  </ul>
</nav>
<section class="output">
  <header>
    <h1>AdLit Output</h1>
  </header>
  <div class="boxes">
    <div class="box">
      <p><i class="fa fa-flag-o large"></i></p>
      <h2>Deliverables</h2>
      <ul>
        <li><a href="#">Deliverable 1.1 Rapport rond mediabezit en -gebruik van minderjarigen</a></li>
        <li><a href="#">Deliverable 1.2 Rapport rond het gebruik van nieuwe reclameformats voor het targeten van minderjarigen</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-folder-open-o large"></i></p>
      <h2>Wetenschappelijke Output</h2>
      <ul>
        <li><a href="#">Deliverable 1.1 Rapport rond mediabezit en -gebruik van minderjarigen</a></li>
        <li><a href="#">Deliverable 1.2 Rapport rond het gebruik van nieuwe reclameformats voor het targeten van minderjarigen</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-university large"></i></p>
      <h2>Valorisatie Output</h2>
      <ul>
        <li><a href="#">Deliverable 1.1 Rapport rond mediabezit en -gebruik van minderjarigen</a></li>
        <li><a href="#">Deliverable 1.2 Rapport rond het gebruik van nieuwe reclameformats voor het targeten van minderjarigen</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-file-powerpoint-o large"></i></p>
      <h2>Presentaties</h2>
      <ul>
        <li><a href="#">Deliverable 1.1 Rapport rond mediabezit en -gebruik van minderjarigen</a></li>
        <li><a href="#">Deliverable 1.2 Rapport rond het gebruik van nieuwe reclameformats voor het targeten van minderjarigen</a></li>
      </ul>
    </div>
  </div>
</section>
<footer class="regular">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
</footer>
