<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li class="active"><a href="/team.html">Team</a></li>
    <li><a href="/project.html">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<article class="researcher">
  <aside>
    <img src="images/patrick-de-pelsmacker.jpg" />
  </aside>
  <header>
    <h1>Patrick De Pelsmacker</h1>
    <p><strong>Promotor</strong></p>
  </header>
  <div class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:patrick.depelsmacker@ua.ac.be">patrick.depelsmacker@ua.ac.be</a><br />
    <i class="fa fa-phone"></i><a href="tel:03 265 40 22">03 265 40 22</a><br />
    <i class="fa fa-map-marker"></i><strong>Universiteit Antwerpen</strong><br />
    Departement Marketing<br />
    Stadscampus Prinsstraat 13, S.B.235, 2000 Antwerpen 
    </p>
  </div>
</article>

<%= partial 'partials/footer-regular' %> 

