<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li class="active"><a href="/team.html">Team</a></li>
    <li><a href="/project.html">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<article class="researcher">
  <aside>
    <img src="images/pieter-de-pauw.jpg" />
  </aside>
  <header>
    <h1>Pieter De Pauw</h1>
    <p><strong>Onderzoeker</strong></p>
  </header>
  <div class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:pieter.depauw@ugent.be">pieter.depauw@ugent.be</a><br />
    <i class="fa fa-phone"></i><a href="tel:092646890">09 264 68 90</a><br />
    <i class="fa fa-map-marker"></i><strong>Universiteit Gent</strong><br />
    Vakgroep Communicatiewetenschappen<br />
    Korte Meer 11, 9000 Gent 
    </p>
  </div>
  <div class="affiliation">
    <h2>Affiliatie</h2>
    <p><i class="fa fa-link"></i><a href="http://www.cepec.ugent.be">www.cepec.ugent.be</a></p>
  </div>
</article>

<%= partial 'partials/footer-regular' %> 

