<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li><a href="/team.html">Team</a></li>
    <li class="active"><a href="index#info">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>

<section class="project">
  <div class="intro">
    <header>
      <h1>AdLit Project</h1>
    </header>
    <p>AdLit staat voor ‘advertising literacy’ of reclamewijsheid. Het is een interdisciplinair onderzoeksproject, gefinancierd door het IWT.</p>
    <p>Het doel is na te gaan hoe we kinderen en jongeren kunnen leren omgaan met reclame, zodat ze opgroeien tot kritische, geïnformeerde consumenten die zelf bewuste keuzes maken.</p>
  </div>
  <div class="boxes">
    <div class="box">
      <p class="icon"><i class="fa fa-university large"></i></p>
      <h2>Wetenschappelijke Objectieven</h2>
      <p>Het AdLit-project bevat drie algemene doelstellingen, namelijk:</p>
      <ol>
        <li>Een overzicht geven van het huidige niveau van reclamewijsheid van kinderen en jongeren voor verschillende nieuwe reclamevormen</li>
        <li>In kaart brengen hoe de reclamewijsheid van kinderen en jongeren verhoogd kan worden met betrekking tot nieuwe reclamevormen</li>
        <li>In kaart brengen welk (zelf)regulerend wettelijk kader geschikt is om minderjarigen te beschermen en te machtigen met betrekking tot nieuwe reclamevormen, met het oog op de toekomst</li>
      </ol>
      <p>Deze doelstellingen worden onderzocht door middel van <strong>vijf wetenschappelijke werkpakketten</strong> (of WPs). Hierbij wordt telkens de vergelijking gemaakt tussen kinderen en jongeren van verschillende leeftijden en met verschillende sociale achtergronden (i.e. socio-economische thuissituatie etc.)</p>
      <p><strong>WP1</strong> is gericht op het ontwikkelen van een risicoanalyse met betrekking tot de reclamewijsheid van minderjarigen voor verschillende nieuwe reclamevormen. Hierbij gaan we na welke de voornaamste reclamevormen zijn die men gebruikt om kinderen en jongeren te benaderen, wat het huidige niveau is van reclamewijsheid voor deze nieuwe formats en hoe we deze reclamewijsheid best kunnen meten.</p>
      <p><strong>WP2</strong> is gericht op het activeren van reclamewijsheid. Hierbij gaan we na hoe reclame cues optimaal gebruikt kunnen worden om de kennis die kinderen en jongeren hebben met betrekking tot reclame te triggeren op een moment van blootstelling.</p>
      <p><strong>WP3</strong> is gericht op educatie. Hierbij wordt er een analyse gemaakt van het huidige curriculum en van de verschillende educatieve pakketten die bestaan rond het thema reclamewijsheid. Na het opstellen en evalueren van verschillende educatieve programma’s gaan we over tot het implementeren van de ontwikkelde pakketten met als doel de reclamewijsheid van minderjarigen te verhogen.</p>
      <p><strong>WP4</strong> is gericht op het ontwikkelen van bewustzijns- en sensibiliseringscampagnes. Hierbij worden verschillende communicatietechnieken ontwikkeld en getest met als doel het niveau van reclamewijsheid te verhogen bij zowel kinderen, jongeren, ouders, leerkrachten en de reclame-industrie zelf.</p>
      <p><strong>WP5</strong> is gericht op regelgeving en beleid. In de eerste plaats wordt een analyse gemaakt van het huidige (zelf) regulerende kader met betrekking tot commerciële communicatie gericht naar minderjarigen. Hierbij kijken we niet enkel naar verschillende domeinen van het recht, maar ook naar verschillende sectoren en geografische gebieden. Vervolgens worden de hiaten met betrekking tot nieuwe reclamevormen in kaart gebracht, gevolgd door het formuleren van aanbevelingen voor een toekomstbestendig regelgevend kader. Het doel hiervan is minderjarigen te beschermen in hun gebruik van nieuwe media.</p>
    </div>
    <div class="box">
      <p class="icon"><i class="fa fa-flag-o large"></i></p>
      <h2>Valorisatie Objectieven</h2>
      <p>Gebaseerd op de resultaten die gegenereerd worden door wetenschappelijk onderzoek worden er binnen AdLit vijf specifieke valorisatiedoelstellingen nagestreefd:</p>
      <ol>
        <li>Het uitvoeren van een risicoanalyse, gebaseerd op het huidige niveau van reclamewijsheid van kinderen en jongeren voor verschillende nieuwe reclamevormen. Deze inzichten worden gebundeld in een brochure waarin enerzijds de reclamevormen met de laagste reclamewijsheid in kaart worden gebracht, anderzijds levert deze analyse nuttige input voor verdere valorisatieobjectieven binnen dit project.</li>
        <li>Bundelen van alle kwalitatieve en kwantitatieve methoden voor het meten van reclamewijsheid bij kinderen en jongeren in een gids. Het doel hiervan is een overzicht te bieden van geschikte meetinstrumenten en -methoden voor reclamewijsheid per leeftijd en reclameformat.</li>
        <li>Ontwikkelen van een specifieke reclame cue die kinderen en jongeren helpt om reclameboodschappen te herkennen en ze aanzetten om deze kritisch te verwerken. Deze cue zal toepasbaar zijn op verschillende reclamevormen (merkplaatsingen in televisieprogramma’s en computerspelletjes, banners, etc.). om de implementatie van deze cue te stimuleren wordt er tevens een technische brochure opgesteld waarin meer uitleg gegeven wordt over hoe deze cue geïmplementeerd kan worden, en waarom het belangrijk is om dit te doen.</li>
        <li>Opzetten van educatieve pakketten, workshops en sensibiliseringscampagnes gericht naar kinderen, jongeren, hun ouders en opvoeders. Via al deze kanalen willen we enerzijds het algemene bewustzijn van mensen voor reclamewijsheid verhogen, en anderzijds de betekenis en het belang van de advertising cue overbrengen en verspreiden.</li>
        <li>Opstellen van een juridisch vademecum waarin een overzicht gegeven wordt van de huidige wetgeving en zelfregulering met betrekking tot commerciële communicatie gericht naar minderjarigen. Op basis van dit vademecum worden vervolgens hiaten en uitdagingen binnen de wetgeving met betrekking tot nieuwe reclamevormen geformuleerd, samen met concrete aanbevelingen voor een toekomstbestendig regelgevend kader.</li>
      </ol>
    </div>
  </div>
</section>

<footer class="regular">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
</footer>
