<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="index#news">Nieuws</a></li>
    <li class="active"><a href="#">Team</a></li>
    <li><a href="index#info">Project</a></li>
    <li><a href="#">Publicaties</a></li>
  </ul>
</nav>
<article class="researcher">
  <div class="breadcrumb">
    <a href="/team.html">Team</a>
    <a href="javascript:void(0)">Katarina Panic</a>
  </div>
  <aside>
    <img src="images/katarina-panic.jpg" />
  </aside>
  <header>
    <h1>Katarina Panic</h1>
  </header>
  <section class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:katarina.panic@ugent.be">katarina.panic@ugent.be</a><br />
    <i class="fa fa-phone"></i><a href="tel:00322646798">+32 9 264 67 98</a><br />
    <i class="fa fa-map-marker"></i><strong>Universiteit Gent</strong><br />
    Departement Communicatiewetenschappen<br />
    Korte Meer 11, 9000 Gent
    </p>
  </section>
  <section class="affiliation">
    <h2>Affilation</h2>
    <p><i class="fa fa-link"></i><a href="http://www.cepec.ugent.be">www.cepec.ugent.be</a></p>
  </section>
</article>

<footer class="team">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
</footer>
