<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#news">Nieuws</a></li>
    <li class="active"><a href="/team.html">Team</a></li>
    <li><a href="/project.html">Project</a></li>
    <li><a href="/output.html">Output</a></li>
  </ul>
</nav>
<article class="researcher">
  <aside>
    <img src="images/silke-lissens.jpg" />
  </aside>
  <header>
    <h1>Silke Lissens</h1>
    <p><strong>Onderzoeker</strong></p>
  </header>
  <div class="contact">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:silke.lissens@vub.ac.be">silke.lissens@vub.ac.be</a><br />
    <i class="fa fa-map-marker"></i><strong>Vrije Universiteit Brussel</strong><br />
    Vakgroep Communicatiewetenschappen<br />
    VUB, Pleinlaan 2, 1050 Brussel 
    </p>
  </div>
  <div class="affiliation">
    <h2>Affiliatie</h2>
    <p><i class="fa fa-link"></i><a href="http://www.vub.ac.be/SCOM/cemeso.html">CEMESO</a></p>
  </div>
</article>

<%= partial 'partials/footer-regular' %> 

