<nav id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="index#news">Nieuws</a></li>
    <li class="active"><a href="#">Team</a></li>
    <li><a href="index#info">Project</a></li>
    <li><a href="#">Output</a></li>
  </ul>
</nav>
<section class="stakeholders">
  <div class="breadcrumb">
    <a href="/team.html">Team</a>
    <a href="javascript:void(0)">Stakeholders</a>
  </div>
  <header>
    <h1>AdLit Stakeholders</h1>
  </header>
  <div class="boxes">
    <div class="box">
      <p><i class="fa fa-suitcase large"></i></p>
      <h2>Beleidsmakers</h2>
      <ul>
        <li><a href="#">Departement Cultuur, Media, Jeugd en Sport</a></li>
        <li><a href="#">Commissie voor de bescherming van de persoonlijke levenssfeer</a></li>
        <li><a href="#">Jury voor Ethische Praktijken Inzake Reclame &amp; Raad voor Reclame</a></li>
        <li><a href="#">Vlaamse Regulator voor Media</a></li>
        <li><a href="#">FOD Economie</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-users large"></i></p>
      <h2>Maatschapperlijke Actoren</h2>
      <ul>
        <li><a href="#">Departement Cultuur, Media, Jeugd en Sport</a></li>
        <li><a href="#">Commissie voor de bescherming van de persoonlijke levenssfeer</a></li>
        <li><a href="#">Jury voor Ethische Praktijken Inzake Reclame &amp; Raad voor Reclame</a></li>
        <li><a href="#">Vlaamse Regulator voor Media</a></li>
        <li><a href="#">FOD Economie</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-graduation-cap large"></i></p>
      <h2>Onderwijs</h2>
      <ul>
        <li><a href="#">Departement Cultuur, Media, Jeugd en Sport</a></li>
        <li><a href="#">Commissie voor de bescherming van de persoonlijke levenssfeer</a></li>
        <li><a href="#">Jury voor Ethische Praktijken Inzake Reclame &amp; Raad voor Reclame</a></li>
        <li><a href="#">Vlaamse Regulator voor Media</a></li>
        <li><a href="#">FOD Economie</a></li>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-newspaper-o large"></i></p>
      <h2>Reclame- en Mediaindustrie</h2>
      <ul>
        <li><a href="#">Departement Cultuur, Media, Jeugd en Sport</a></li>
        <li><a href="#">Commissie voor de bescherming van de persoonlijke levenssfeer</a></li>
        <li><a href="#">Jury voor Ethische Praktijken Inzake Reclame &amp; Raad voor Reclame</a></li>
        <li><a href="#">Vlaamse Regulator voor Media</a></li>
        <li><a href="#">FOD Economie</a></li>
      </ul>
    </div>
  </div>
</section>
<%= partial 'partials/footer-regular' %>
