<section class="team">
  <div class="intro">
<header>
  <h1>AdLit Team</h1>
<p>The AdLit project is coordinated by Ghent University and unites three Flemish Universities.<br />Check out the <a href="/stakeholders.html" class="underline">Stakeholders</a></p> 
</header>
</div>
<div class="members">
  <div class="member" data-mh="block">
    <a href="/verolien-cauberghe.html"><img src="images/verolien-cauberghe.jpg" alt="verolien cauberghe" /></a>
    <h2><a href="/verolien-cauberghe.html">Verolien Cauberghe</a></h2>
    <p>Onderzoeksgroep CEPEC<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/liselot-hudders.html"><img src="images/liselot-hudders.jpg" alt="liselot hudders" /></a>
    <h2><a href="/liselot-hudders.html">Liselot Hudders </a></h2>
    <p>Onderzoeksgroep CEPEC<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/katrina-panic.html"><img src="images/katarina-panic.jpg" alt="katarina panic" /></a>
    <h2><a href="/katrina-panic.html">Katarina Panic</a></h2>
    <p>Onderzoeksgroep CEPEC<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/pieter-de-pauw.html"><img src="images/pieter-de-pauw.jpg" alt="pieter de pauw" /></a>
    <h2><a href="/pieter-de-pauw.html">Pieter De Pauw </a></h2>
    <p>Onderzoeksgroep CEPEC<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/dirk-voorhoof.html"><img src="images/dirk-voorhoof.jpg" alt="dirk voorhoof" /></a>
    <h2><a href="/dirk-voorhoof.html">Dirk Voorhoof </a></h2>
    <p>Onderzoeksgroep CEPEC<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/eva-lievens.html"><img src="images/eva-lievens.jpg" alt="eva lievens" /></a>
    <h2><a href="/eva-lievens.html">Eva Lievens</a></h2>
    <p><a href="/utrecht-media-history-group.html">Onderzoeksgroep ICRI</a><br />KU Leuven</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/peggy-valcke.html"><img src="images/peggy-valcke.jpg" alt="peggy valcke" /></a>
    <h2><a href="/peggy-valcke.html">Peggy Valcke</a></h2>
    <p>Onderzoeksgroep ICRI<br />KU Leuven</p>
  </div>
  <div class="member" data-mh="block">
    <a href="liesbeth-hellemans.html"><img src="images/liesbeth-hellemans.jpg"  alt="liesbeth hellemans"/></a>
    <h2><a href="/liesbeth-hellemans.html">Liesbeth Hellemans</a></h2>
    <p>Onderzoeksgroep ICRI<br />KU Leuven</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/martin-valcke.html"><img src="images/martin-valcke.jpg" alt="martin valcke" /></a>
    <h2><a href="/martin-valcke.html">Martin Valcke</a></h2>
    <p>vakgroep onderwijskunde<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/tammy-schellens.html"><img src="images/tammy-schellens.jpg" alt="tammy schellens" /></a>
    <h2><a href="/tammy-schellens.html">Tammy Schellens</a></h2>
    <p>vakgroep onderwijskunde<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/britt-adams.html"><img src="images/britt-adams.jpg" alt="britt adams" /></a>
    <h2><a href="/britt-adams.html">Britt Adams</a></h2>
    <p>vakgroep onderwijskunde<br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/michel-walraeve.html"><img src="images/michel-walraeve.jpg" alt="michel walraeve" /></a>
    <h2><a href="/michel-walraeve.html">Michel Walraeve</a></h2>
    <p>Onderzoeksgroep MIOS
    <br />Universiteit Gent</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/karolien-poels.html"><img src="images/karolien-poels.jpg" alt="karolien poels" /></a>
    <h2><a href="/karolien-poels.html">Karolien Poels</a></h2>
    <p>Onderzoeksgroep MIOS<br />Universiteit Antwerpen</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/koen-ponnet.html"><img src="images/koen-ponnet.jpg" alt="koen ponnet" /></a>
    <h2><a href="/koen-ponnet.html">Koen Ponnet</a></h2>
    <p>Onderzoeksgroep MIOS<br />Universiteit Antwerpen</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/brahim-zarouali.html"><img src="images/brahim-zarouali.jpg" alt="brahim zarouali" /></a>
    <h2><a href="/brahim-zarouali.html">Brahim Zarouali</a></h2>
    <p>vakgroep onderwijskunde<br />Universiteit Antwerpen</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/patrick-de-pelsmacker.html"><img src="images/patrick-de-pelsmacker.jpg" alt="patrick de pelsmacker" /></a>
    <h2><a href="/patrick-de-pelsmacker.html">Patrick De Pelsmacker </a></h2>
    <p>Departement marketing
    <br />Universiteit Antwerpen</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/kristien-daems.html"><img src="images/kristien-daems.jpg" alt="kristien daems" /></a>
    <h2><a href="/kristien-daems.html">Kristien Daems </a></h2>
    <p>Departement marketing<br />Universiteit Antwerpen</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/joke-bauwens.html"><img src="images/joke-bauwens.jpg" alt="joke bauwens" /></a>
    <h2><a href="/joke-bauwens.html">Joke Bauwens</a></h2>
    <p>Onderzoeksgroep CEMESO<br />Vrije Universiteit Brussel</p>
  </div>
  <div class="member" data-mh="block">
    <a href="/silke-lissens.html"><img src="images/silke-lissens.jpg" alt="silke lissens" /></a>
    <h2><a href="/silke-lissens.html">Silke Lissens</a></h2>
    <p>Onderzoeksgroep CEMESO<br />Vrije Universiteit Brussel</p>
  </div>
</div>
</section>

<%= partial 'partials/footer-regular' %> 

